secrets.auto.tfvars
terraform.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
terraform/main/python
terraform/main/terraform.tfstate
terraform/main/.terraform/
terraform/main/terraform.tfstate.backup
terraform/main/terraform.tfstate.d
terraform/bootstrap/.terraform.lock.hcl
terraform/main/.terraform.lock.hcl
terraform/main/lambda_function.zip
